.index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
 
  text-align: center;
}

.welcome-message {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 2em;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.clickable-image {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable-image:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .clickable-image {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .clickable-image {
    width: 200px;
    height: 200px;
  }
}
.image-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.avatar-container:hover {
  transform: scale(1.05);
}

.avatar-container p {
  margin-top: 10px;
 
  font-size: 1.2em;
  font-weight: bold;
}


